.board {
    display: flex;
    flex-wrap: wrap;

    width: 800px;
    height: 800px;
}

.chess-square {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
}

.white-square {
    background-color: #FFCF9F;
}

.black-square {
    background-color: #D28C45;
}